/* pallet https://coolors.co/94e8b4-72bda3-5e8c61-4e6151-3b322c */
:root{
  --main-farge: #E76F51;
  --sec-farge: #F4A261;
  --fg-farge: #264653;
  --bg-farge: #264653;
  --text-farge: black;
  --text-farge-lys: white;
}

body{
  background-color: var(--main-farge);
  margin: 0px;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-farge);
  font-family: 'Exo', sans-serif;
  color: var(--text-farge);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color:black;
  background-color: var(--main-farge);
  border-bottom: 1px solid black;
}

.meny-row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
}

.meny {
  background-color:var(--fg-farge);
  width: 0vw;
  position: absolute;
  Right: 0vh;
  top: 0vh;
  transition: 0.3s;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  border-left: 1px solid black;
}

.text-stor {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-farge);
  text-align: center;
}

.text-mid {
  font-size: 1rem;
}

.icon-stor {
  width: 12rem;
  height: auto;
}

.kort {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 5rem;
}

.kort-content {
  width: 60%;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: var(--text-farge-lys);
}

.cover{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 1;
}

.mainpage {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--fg-farge);
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  flex-direction: column;
}

a {
  color: var(--text-farge);
  text-decoration: none;
}

select {
  font-family: 'Exo', 'sans-serif';

}

li {
  list-style: none;
  color: white;
}

ul {
  padding-left: 0;
}

